.card__image-container {
  height: 282px;
  aspect-ratio: 1/1;
  background: linear-gradient(#bcbcbc, #fefefe);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image:hover {
  cursor: pointer;
}
